:root {
    --text-color: #555c66;
    --background-light: #f2f2f2;
    --background-dark: #3d5a80;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align it at the top of the viewport */
    left: 0;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1030; /* Ensure it stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
}

.nav-item:hover {
    color: #98c1d9 !important;
}

body {
    background-color: #f2f2f2 !important;
    margin-top: 100px !important;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

.intro h1 {
    font-size: 4em;
}

#imp {
    color: #555c66;
    line-height: 2;
    font-size: 1.5em;
}

.intro p {
    color: #555c66;
    line-height: 1.5;
}

.intro img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.intro button {
    background-color: #ee6c4d;
    color: white;
}

.intro button:hover {
    background-color: #98c1d9;
    color: white;
}

.about {
    background-color: var(--background-dark);
}

.about h1 {
    font-size: 3em;
    color: white;
}

#estate {
    font-size: 1.5em;
    background-color: #e0fbfc;
}

#type1, #type2, #type3 {
    background-color: #e0fbfc;
    padding: 1em;
}

#type1 p, #type2 p, #type3 p {
    color: #555c66;
    line-height: 2;
}

.sectors img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#real, #hospital, #automobile, #financial {
    background-color: #e0fbfc;
    margin: 15px;
    width: 250px;
    height: 350px;
    padding: 20px;
}

#real img, #hospital img, #financial img, #automobile img {
    margin-bottom: 20px;
}

#financial {
    margin-top: -15px;
}

#residential, #commercial, #plotting {
    background-color: #293241;
    margin: 10px;
    padding: 20px;
    height: 200px;
    color: white;
}

.diff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ongoing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#residential1, #tower {
    background-color: #293241;
    color: white;
    margin: 10px;
    padding: 20px;
}

#tiana, #upcoming {
    background-color: #e0fbfc;
}

#upcoming {
    position: relative;
    left:50%;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.images img {
    width: 250px;
    height: auto;
    margin: 10px;
}

.loans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.directors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#d1, #d2, #d3 {
    z-index: -1;
    position: relative;
}

.info {
    z-index: 1;
    background-color: #98c1d9;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 12%;
    color: white;
}

#more {
    display: none;
}

#myBtn1, #myBtn2, #myBtn3 {
    background-color: #ee6c4d;
    color: white;
}

#myBtn1:hover, #myBtn2:hover, #myBtn3:hover {
    background-color: #98c1d9;
    color: white;
}

.why {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.points {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.border-bottom {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.navbar {
    color: white;
}

@media screen and (max-width: 360px) {
    #financial {
        margin-top: 10px;
    }
    #upcoming {
        left: 0;
    }
    .points {
        gap: 10px;
    }
}

