:root {
    --color-green: #1d5049;
    --color-blue: #01213a;
    --color-light-blue: #044b81;
    --color-dark-green: #093b30;
    --color-green1: #275731;
    --color-green2: #729a44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff !important;
    margin-top: 100px !important;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.nav-bar {
    position: fixed; /* Fix the navbar to the top */
    top: 0; /* Align it at the top of the viewport */
    left: 0;
    width: 100%; /* Ensure it spans the full width */
    z-index: 1030; /* Ensure it stays above other elements */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    background-color: white;
    font-weight: bold;
}

.nav-item:hover {
    color: var(--color-light-blue) !important;
}

.nav-bar span {
    color: var(--color-green);
}

.hero-start {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 29.25%, rgba(0, 0, 0, 0.40) 64.5%), url(images/finance5.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    position: relative;
    display: flex;/* Vertically center the text */
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: absolute; /* Allows absolute positioning within hero-start */
    color: white; /* Text color */
    text-align: center; /* Center the text */
    z-index: 1; /* Ensure text appears above the background */
    align-items: center;
}

.hero-text {
    font-size: 3rem; /* Adjust as per your design */
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}

.hero-content p {
    font-size: 2em;
    font-weight: bold;
}

.vision h2 {
    color: var(--color-light-blue);
    text-transform: uppercase;
}

.values {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vision, #mission, #core {
    width: 300px;
    height: 200px;
    color: white;
    margin: 10px;
    padding: 20px;
}

#vision {
    background-color: var(--color-green1);
}

#mission {
    background-color: var(--color-blue);
}

#core {
    background-color: var(--color-light-blue);
}

.boxes {
    position: relative;
    height: 300px;
}

.box1, .box2, .box3, .box4 {
    height: 300px;
    position: absolute;
    width: 90%;
}

.box1 {
    width: 90%;
    background-color: var(--color-green2);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 0;
    left: 0;
}

.box2 {
    width: 70%;
    background-color: var(--color-blue);
    left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.box3 {
    height: 150px;
    width: 50%;
    background-color: var(--color-green1);
    left: 0;
    top: 25%;
}

.box4 img {
    width: 90%;
    height: 150px;
}

.box4 {
    left: 8%;
    top: 25%;
}

.world {
    display: flex;
    gap: 20px;
}

.info {
    text-align: justify;
}

.box {
    width: 100%;
    height: 100px;
    background-color: var(--color-green2);
}

.images img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -50px;
}

.images {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-evenly; /* Center items vertically */
    gap: 20px;
}

#teams {
    margin: 0 auto;;
}

.team-content {
    width: 250px;
}

.choose {
    background-color: var(--color-light-blue);
    border-top-left-radius: 40px;
    color: white;
    border-bottom-right-radius: 40px;
}

.b {
    width: 150px;
    height: 150px;
    background-color: var(--color-green2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b p {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.copyright {
    background-color: var(--color-blue);
}

.copyright a {
    text-decoration: none;
    color: var(--color-green2);
}

@media (max-width: 768px) {
    .box {
        background-color: white;
    }
    .images {
        flex-direction: column; /* Stack items vertically */
        align-items: center; 
        justify-content: center;/* Center items horizontally */
        gap: 30px; /* Increase spacing between vertical items */
    }
}

@media screen and (max-width: 360px) {
    .images img {
        left: 50%;
    }
}